<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <title>Your Joker Name</title>
  </head>
  <body>
    <h1>Would You Like To Hear A Joke?</h1>
    <div id="main-container">
      <div id = "random-joke-section" class="jokes-section">
        <h2>Tell Me A Random Joke</h2>
        <form action="/random-joke" method = "POST">
          <input type="submit" value="Go!" />
        </form>
        <% if (locals.jokes) { %>
          <h2><%= jokes.category %></h2>
          <h2><%= jokes.type %></h2>
          <% if(jokes.joke) { %>
            <h3><%= jokes.joke %></h3>
            <% } else { %>
              <p>Waiting for API</p>
          <% } if (jokes.setup && jokes.delivery) { %>
            <h3><%= jokes.setup %><br><%= jokes.delivery %></h3>
          <% }} else { %>
          <p>Waiting for API</p>
        <% } %>
      </div>
      <div id = "query-joke-section" class="jokes-section">
        <h2>Tell Me A Joke But...</h2>
        <form action="/query-joke" method = "POST">
          <label for="joke-category">Category</label>
          <select id="joke-category" name="jokeCategory">
            <option value="Programming">Programming</option>
            <option value="Misc">Misc</option>
            <option value="Dark">Dark</option>
            <option value="Pun">Pun</option>
            <option value="Spooky">Spooky</option>
            <option value="Christmas">Christmas</option>
          </select><br>
          <label for="joke-type">Type</label>
          <select id="joke-type" name="jokeType">
            <option value="single">Single</option>
            <option value="twopart">Two-part</option>
          </select><br>
          <input type="submit" value="Go!" />
        </form>
        <% if (locals.queryJokes) { %>
          <% if(queryJokes.joke) { %>
            <h3><%= queryJokes.joke %></h3>
            <% } else { %>
              <p>Waiting for API</p>
          <% } if (queryJokes.setup && queryJokes.delivery) { %>
            <h3><%= queryJokes.setup %><br><%= queryJokes.delivery %></h3>
          <% }} else { %>
          <p>Waiting for API</p>
        <% } %>
      </div>
    </div>
  </body>
</html>